.background {
  a {
    position: relative;
    display: inline-block;
    &:after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background: $black;
      content: '';
      opacity: 0;
      transition: height 0.3s, opacity 0.3s, transform 0.3s;
      transform: translateY(-5px);
    }
    &:hover:after,
    &:focus:after {
      height: 2px;
      opacity: 1;
      transform: translateY(-2px);
    }
  }
}
