.experience {
  .job {
    max-width: 600px;
    margin-bottom: 25px;
    .time-place {
      display: flex;
      justify-content: space-between;
      @include mobile {
        display: block;
      }
    }
    &__company {
      font-weight: 700;
    }
    &__time {
      font-size: 0.9rem;
      font-family: 'Inconsolata', monospace;
    }
  }
  .arrow-link {
    margin-top: 70px;
    font-size: 1.25rem;
    &:after {
      width: 20px;
      height: 20px;
    }
  }
}
