#featured-projects {
  .content {
    max-width: 100%;
  }
  .project {
    display: flex;
    margin-bottom: 100px;
    @include tablet {
      display: block;
      margin-bottom: 70px;
    }
    .pic {
      max-width: 700px;
      overflow: hidden;
      &.phones {
        a {
          display: flex;
          justify-content: space-between;
        }
        .phone {
          margin: 0 10px;
          @include small-mobile {
            margin: 0 5px;
          }
          &:first-of-type {
            margin-left: 0;
          }
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
      img {
        width: 100%;
        max-width:100%;
      }
    }
    .caption {
      width: 125px;
      flex-shrink: 0;
      margin-top: 3%;
      margin-left: 20px;
      @include tablet {
        width: 100%;
        margin-top: 25px;
        margin-left: 0;
      }
      .name {
        margin-bottom: 10px;
        a {
          font-weight: 700;
        }
      }
      p {
        font-size: 0.85rem;
        line-height: 1.35;
      }
    }
  }
}