#intro {
  padding: 180px 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .hello, .tagline {
    font-size: 2rem;
    line-height: 1.5;
  }
  .contact {
    font-size: 1.25rem;
    .pointer {
      margin: 0 10px;
    }
  }
}