#other-projects {
  .projects {
    .project {
      max-width: 600px;
      margin-bottom: 50px;
      .name {
        margin-bottom: 10px;
      }
      p {
        font-size: 0.9rem;
        margin-bottom: 20px;

        a {
          position: relative;
          &:after {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1px;
            background: $black;
            content: '';
            opacity: 0;
            transition: height 0.3s, opacity 0.3s, transform 0.3s;
            transform: translateY(-5px);
          }
          &:hover:after,
          &:focus:after {
            height: 2px;
            opacity: 1;
            transform: translateY(0px);
          }
        }
      }
      .used {
        span {
          display: inline-block;
          margin: 3px 3px 3px 0;
          font-size: 0.75rem;
          font-weight: 400;
          padding: 3px 7px;
          border-radius: 3px;
          color: $grey;
          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }
  }
}