<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>I'm a fifth year student at <a href="http://www.ccis.northeastern.edu/" target="_blank">Northeastern University</a> in Boston, MA studying computer science and interaction design. Thanks to Northeastern's co-op program, I've had the privelege of completing two wonderful six-month co-ops at <a href="https://us.mullenlowe.com/" target="_blank">MullenLowe U.S.</a> and <a href="https://starry.com/" target="_blank">Starry</a>. Currently, I'm spending my third and final co-op as a UI Engineer on the iTunes team at <a href="https://www.apple.com/music/" target="_blank">Apple</a>.</p>

    <p>As a software engineer, I feel most in my element with front end development since it allows me to integrate my logical mind with my keen eye for design (not to mention my perfectionist tedencies). Therefore, the majority of my strengths lie within the realm of web development &mdash; particularly JavaScript and HTML/CSS.</p>

    <p>At the end of the day, I always strive to create software that not only functions efficiently under the hood, but also provides intuitive, pixel-perfect user experiences. My primary goal is to create something beautiful with people who bring out the best in me.</p>

    <!-- <p>When I'm not in front of a computer screen, you can probably find me snowboarding, traveling, or cruising around on my penny board.</p> -->
  </div>
</section>
