<section id="background" class="section">
  <div class="title">Background</div>
  <div class="content">
    <p>I'm a fifth year student at Northeastern University in Boston studying computer science and interaction design. I have experience developing and designing software for the web, from simple landing pages to progressive web applications. I strive to create software that not only functions efficiently under the hood, but also provides intuitive, pixel-perfect user experiences.</p>
    <p>I love learning new and better ways to create seamless user experiences with clean, efficient, and scalable code. I consider work an ongoing education, and I'm always looking for opportunities to work with those who are willing to share their knowledge as much as I want to learn. At the end of the day, my primary goal is to create something beautiful with people that bring out the best in me.</p>
    <p>When I'm not in front of a computer screen, I'm probably snowboarding, traveling, petting dogs, or cruising around on my penny board.</p>
  </div>
</section>
