<section id="background" class="section">
  <div class="title">Background</div>
  <div class="content">
    <p>I'm a fifth year student at Northeastern University in Boston, MA studying computer science and interaction design. Thanks to Northeastern's strong co-op program, I'll have three six-month co-ops under my belt by the time I graduate in May 2018. Currently, I'm doing my third and final co-op as a UI Engineer at Apple.</p>
    <p>As a software engineer, I find myself most enthusiastic about front end development since it allows me to combine my technical background with my keen eye for design and perfectionist personality. I strive to create software that not only functions efficiently under the hood, but also provides intuitive, pixel-perfect user experiences.</p>
    <p>I love learning new and better ways to create seamless user experiences with clean, efficient, and scalable code. I consider work an ongoing education, and I'm always looking for opportunities to work with those who are willing to share their knowledge as much as I want to learn.</p>
    <p>When I'm not in front of a computer screen, I'm probably snowboarding, traveling, petting dogs, or cruising around on my penny board.</p>
  </div>
</section>
