<section id="featured-projects" class="section">
  <div class="title">Featured Projects</div>
  <div class="content">
    <div class="project">
      <div class="pic">
        <img src="../img/featured/placeholder1.png" alt="">
      </div>
      <div class="caption">
        <div class="name"><a href="http://brittanychiang.com/v1">Personal Website V2</a></div>
        <p>This was my first portfolio website I built in 2014. It's a simple one-pager like this one, but relied heavily on Bootstrap. Since then, I think my web development and design skills have expanded immensely.</p>
      </div>
    </div>

    <div class="project">
      <div class="pic phones">
        <div class="phone"><img src="../img/featured/Phone1.png" alt=""></div>
        <div class="phone"><img src="../img/featured/Phone2.png" alt=""></div>
        <div class="phone"><img src="../img/featured/Phone3.png" alt=""></div>
      </div>
      <div class="caption">
        <div class="name"><a href="http://brittanychiang.com/v1">Personal Website V2</a></div>
        <p>This was my first portfolio website I built in 2014. It's a simple one-pager like this one, but relied heavily on Bootstrap. Since then, I think my web development and design skills have expanded immensely.</p>
      </div>
    </div>

    <div class="project">
      <div class="pic">
        <img src="../img/featured/placeholder2.png" alt="">
      </div>
      <div class="caption">
        <div class="name"><a href="http://brittanychiang.com/v1">Personal Website V2</a></div>
        <p>This was my first portfolio website I built in 2014. It's a simple one-pager like this one, but relied heavily on Bootstrap. Since then, I think my web development and design skills have expanded immensely.</p>
      </div>
    </div>

  </div>


</section>