<header id="intro">
  <h1 class="hello">Hello! <span class="emoji wave"></span></h1>
  <h2 class="tagline">I'm <span class="name">Brittany Chiang</span>, a design-minded front end software engineer focused on building beautiful interfaces <span class="emoji technologist"></span></h2>
  <h3 class="contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span><a href="mailto:brittany.chiang@gmail.com" target="_blank" class="highlight-link">brittany.chiang@gmail.com</a></span>
  </h3>
</header>
