<section id="intro">
  <div class="hello">Hello! <span class="emoji wave"></span></div>
  <div class="tagline">I'm <span class="name">Brittany Chiang</span>, a design-minded front-end software engineer focused on building beautiful interfaces <span class="emoji technologist"></span></div>
  <div class="contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span><a href="mailto:brittany.chiang@gmail.com" class="highlight-link">brittany.chiang@gmail.com</a></span>
  </div>
</section>
