<section id="skills" class="section">
  <div class="title">Skills</div>
  <div class="content">
    <p>I’ve picked up quite a few skills during my college career, and aim to improve these skills everyday. Here are a few of the technologies that I have experience with:</p>
    <div class="skillz">
      <div class="category">
        <div class="label">Languages</div>
        <ul>
          {% for language in site.data.skills.languages %}
          <li>{{language.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="category">
        <div class="label">Frameworks</div>
        <ul>
          {% for framework in site.data.skills.frameworks %}
          <li>{{framework.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="category">
        <div class="label">Tools</div>
        <ul>
          {% for tool in site.data.skills.tools %}
          <li>{{tool.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="category">
        <div class="label">Design</div>
        <ul>
          {% for thing in site.data.skills.design %}
          <li>{{thing.item}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
